global
	log 127.0.0.1 local0
	log 127.0.0.1 local1 notice
        user root
        group root
	maxconn 2048
	daemon

defaults
	log     global
	mode    http
        option  dontlognull
	retries 3
	option	redispatch
        option  forwardfor
	option	http-server-close
	timeout connect  5s
	timeout client  30s
	timeout server  30s
	timeout	tunnel	1h

frontend http
        bind :80
        default_backend redirect-backend

frontend https
	mode tcp
        bind :443 ssl crt /etc/haproxy/certs/haproxy.pem no-tls-tickets ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-RSA-RC4-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES128-SHA:AES256-SHA256:AES256-SHA:RC4-SHA

        # Distinguish between secure and insecure requests
        acl secure dst_port eq 443

        reqadd X-Forwarded-Proto:\ https
 
        # Mark all cookies as secure if sent over SSL
        rsprep ^Set-Cookie:\ (.*) Set-Cookie:\ \1;\ Secure if secure
 
        # Add the HSTS header with a 1 year max-age
        rspadd Strict-Transport-Security:\ max-age=31536000 if secure
    
        default_backend www
       
	
backend redirect-backend
        redirect scheme https

backend www
        balance source
        option forwardfor
        server  www1 localhost:8001 check inter 2000 rise 2 fall 5 
        rspidel ^Set-cookie:\ IP= # do not let this cookie tell our internal IP

listen stats :1936
        stats enable
        stats scope http
        stats scope www
        stats scope static
        stats scope static_httpclose
        stats realm Haproxy\ Statistics
        stats uri /
        stats hide-version
	stats auth haproxy:123qwe
